



/* Start of Waybar styling */
/* color-group-acual_color-version */
@import url("../general.style.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}



window#waybar {
    background-color: @youc-background-alpha-1;
    border-bottom: 0px solid alpha(@color-1-1-1,0.5);
    color: @default-active;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px 0px 0px 0px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @default-active ;
}
*/

window#waybar.termite {
}

window#waybar.chromium {
}

button {
    border-radius: 10px 10px 10px 10px;
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
}

#workspaces {
    background-color: @color-1-0-2;
    border-radius: 0px 0px 10px 0px;

}
#workspaces button {
}

#workspaces button.active {
    /*box-shadow: inset 0 -3px shade(alpha(@color-accent-0-0,1),1.5) ;*/
    background-color: @color-2-0-3;
    color: #000000;
    border-radius: 10px 10px 10px 10px;
  }

#workspaces button:hover {
}

#workspaces button.focused {
}

#workspaces button.urgent {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
    animation-direction: alternate;
}

#mode {
    background-color: @test;
    border-bottom: 3px solid @default-active ;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @default-active ;
    border-radius: 10px 10px 10px 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-right{
    background-color: @color-1-0-2;
    border-radius: 0px 0px 0px 10px;
}

#clock {
}

#battery {
    color: @default-active;
}

#battery.charging, #battery.plugged {
    background-color: @color-2-0-3;
    color: #000000;
}

@keyframes blink {
    to {
        background-color: @color-2-0-3;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: @default-alert-negative;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
    background-color: @color-2-0-3;
    color: #000000;
}

#pulseaudio {
}

#pulseaudio.muted {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

#wireplumber {
    color: @default-active ;
}

#wireplumber.muted {
    background-color: @default-back;
}

#custom-media {
    background-color: @test;
    color: @test;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @test;
}

#custom-media.custom-vlc {
    background-color: @test;
}

#temperature {
    color: @default-active ;
}

#temperature.critical {
    background-color: @default-back;
    color: @default-alert-negative;
}

#tray {
    color: @default-active ;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @test;
}

#idle_inhibitor {
    background-color: @default-back;
    color: @default-inactive ;
}

#idle_inhibitor.activated {
    background-color: @default-back;
    color: @default-active ;
}

#mpd {
    background-color: @test;
    color: @test;
}

#mpd.disconnected {
    background-color: @test;
}

#mpd.stopped {
    background-color: @test;
}

#mpd.paused {
    background-color: @test;
}

#language {
    background: @test;
    color: @test;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @test;
    color: @test;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: @test;
}

#scratchpad {
    background: @test;
}

#scratchpad.empty {
	background-color: @test;
}
