


/*https://github.com/Kirottu/anyrun#Styling*/
@import url("../general.style.css");

#window {
    background-color: @youc-background-alpha-1;
  }
  
entry{
    border-radius: 10px;
    background-color: @color-1-0-2;
    color: #FFFFFF;
    border-color: @color-1-0-2;
}
  box#main {
    border-radius: 10px;
    background-color: @color-1-0-2;
    border-color: @color-1-0-2;
  }
  
  list#main {
    background-color: @youc-background-alpha-1;
    border-radius: 10px;
    border-color: @color-1-0-2;
  }
  
  list#plugin {
    background-color: rgba(0, 0, 0, 0);
  }
  
  label#match-desc {
    font-size: 10px;
  }
  
  label#plugin {
    font-size: 14px;
  }